
:root{--icon-border:#8f8f8f;--icon-bg:#b2b2b2;--icon-color:#b2b2b2}
@media (prefers-color-scheme:dark){:root{--icon-border:#b2b2b2;--icon-bg:#696969}}

.ac_livre,.ac_movimento,.ac_padrão,.ac_completa,.ac_padrão:before,.ac_completa:before,.ac_completa:after{
  width:12px;height:12px;border:1px solid var(--icon-border);display:block;margin:auto
}
.ac_livre,.ac_movimento{transform:rotate(45deg)}
.ac_livre{border:1px solid var(--icon-border)}
.ac_movimento,.ac_padrão,.ac_completa,.ac_padrão:before,.ac_completa:before,.ac_completa:after{background:var(--icon-bg)}
.ac_padrão:before,.ac_completa:before,.ac_completa:after{content:''}
.ac_padrão:before,.ac_completa:before{transform:translate(5px,-7px)}
.ac_completa:after{transform:translate(11px,-25px)}

.ac_padrão{transform:translateX(-3px) rotate(45deg)}
.ac_completa{transform:translateX(-7px) rotate(45deg)}

.ac_reação{width:14px;height:14px;border:2px solid;border-right-color:transparent;border-radius:100px;transform:rotate(135deg);margin:auto}
.ac_reação:before{content:"";position:absolute;width:6px;height:6px;border-top:2px solid;border-right:2px solid;top:-3px;right:-1px;transform:rotate(68deg)}
.ac_reação,.ac_reação:before{color:var(--icon-color)}