:root{
  --white:#fff;--white-soft:#f8f8f8;--white-mute:#f2f2f2;--white-washed:rgba(255,255,255,.92);--white-vanish:rgba(255,255,255,.5);
  --black:#171717;--black-soft:#222222;--black-mute:#292929;--black-washed:rgba(0,0,0,.8);--black-vanish:rgba(0,0,0,.4);
  --gray:#717171;--gray-washed:rgba(209,209,209,.5);--gray-vanish:rgba(209,209,209,.25);
  --invalid-color:#6c6c6c;
  --unfocused-color:#b0b0b0;
}

:root{
  --color-main: var(--black-mute);
  --color-plain: var(--black);
  --color-soft: var(--black-soft);
  --color-washed: var(--black-washed);
  --color-vanish: var(--black-vanish);

  --back-color: var(--white);
  --back-soft: var(--white-soft);
  --back-washed: var(--white-washed);
  --back-vanish: var(--white-vanish);   

  --el-back-color: var(--white-vanish);
  --el-back-hover: var(--white-washed);

  --back-blend: lighten;
  --back-img: url("@/assets/back-light.jpg");
  --bright: brightness(.9)
}

@media (prefers-color-scheme:dark){
  :root{
    --color-main: var(--white-mute);
    --color-plain: var(--white);
    --color-soft: var(--white-soft);
    --color-washed: var(--white-washed);
    --color-vanish: var(--white-vanish);

    --back-color: var(--black);
    --back-soft: var(--black-soft);
    --back-washed: var(--black-washed);
    --back-vanish: var(--black-vanish);   

    --el-back-color: var(--black-washed);
    --el-back-hover: var(--black-vanish);

    --back-blend: darken;    
    --back-img: url("@/assets/back-dark.jpg");
    --bright: brightness(1.1)
  }
}

*,*:before,*:after{
  margin:0;padding:0;border:0;
  font-family:'Open Sans', sans-serif;color:var(--color-main);font-weight:normal;line-height:1.4rem;
  text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
  word-wrap:normal;word-break:keep-all;box-sizing:border-box
}
*[onclick]{cursor:pointer}

::-webkit-scrollbar{width:6px}
::-webkit-scrollbar-track{background:#f1f1f1}
::-webkit-scrollbar-thumb{background:#bbb}
::-webkit-scrollbar-thumb:hover{background:#999}
::selection{background:#30f2bb}

html,body{scroll-behavior:smooth;overflow:hidden;width:100vw;background:var(--bg-color)}
html{height:100vh}body{height:100%}
/* html{font-size:62.5%} makes 1 rem = 10px, thus making 1.6 rem = 16px; normally 1 rem = 16px */
body{font-size:1rem} /* 1 rem = 16px */
textarea{field-sizing:content}

b,.bold{font-weight:bold!important}i,.italic{font-weight:italic!important}.tac{text-align:center!important}
b,.bold,i,.italic,.tac{line-height:inherit}

/*
1 rem relates to the font-size set by the browser's setting (accessbility)
1 em relates to the font-size defined by the parent, so, if the parent is 16px, a 1em = 16px
*/